<h1>投稿一覧</h1>
<table class='table table-inverse'>
  <tbody>
    <% @posts.each do |posts| %>
      <tr>
        <td><%= image_tag posts.user.get_image, size:"10×10" %></td>
        <td><%= link_to posts.user.name,admin_user_path(posts.user) %></td>
        <td>投稿：<%= link_to posts.body, admin_post_path(posts.id) %></td>
        <td><i class="fas fa-tag"></i><%= posts.tags.map(&:name).join(', ') %></td>
        <td><%= link_to "#{@post.post_comments.count} コメント", user_post_path(@posts) %></td>
      </tr>
    <% end %>
  </tbody>
</table>