<div class='container px-5 px-md-0'>
  <div class='row'>
    <div class='col-md-12'>
      <h1 style= "font-family: fantasy">Post Details</h1>
      <table class='table'>
        <tr>
          <td><%= @post.body %></td>
          <td><%= link_to "投稿の削除", admin_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
          <td>
            <% @post_tags.each do |tag| %>
              <i class="fas fa-tag"></i> <%=tag.name%><%="(#{tag.posts.count})" %>
            <% end %>
          </td>
        </tr>
      </table>

      <div>
        <p><i class="fas fa-comments"></i><%= @post.post_comments.count %></p>
        <% @post.post_comments.each do |post_comment| %>
          <%= image_tag post_comment.user.get_image, size:"100x100" %>
          <%= link_to post_comment.user.name, admin_user_path(@user.id) %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <%= link_to "コメントの削除", admin_post_comment_path(post_comment.post, @post_comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

