<div class='container px-5 px-md-0'>
  <div class='row'>
    <div class='col-xs-4'>
      <h3>User Edit</h3>
      <%= render 'layouts/error_messages', model: @user %>
      <div class="form-group">
        <%= form_with model: @user, url: user_user_path do |f| %>
          <label for="inputName">Name</label><br>
          <%= f.text_field :name, autofocus: true, id:"inputName", class:"form-control" %><br>
          <label for="inputImage">Profile Image</label><br>
          <%= f.file_field :image, placeholder: "プロフィール画像", accept: "image/*", class:"form-control" %><br>
          <label for="inputIntroduction">Introduction</label><br>
          <%= f.text_field :introduction, class:"form-control" %><br>
          <%= f.submit "Update", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>