<div class='container px-5 px-md-0'>
  <div class='row'>
    <div class='col-md-12'>
      <h3>Posts List</h3>
      <%= render 'user/posts/search', posts: @posts %>
      <table class='table table-inverse'>
        <tbody>
          <% @posts.each do |posts| %>
            <tr>
              <td><%= image_tag posts.user.get_image, size:"100x100" %></td>
              <td><%= link_to posts.user.name, user_user_path(posts.user) %></td>
              <td><%= link_to posts.body, user_post_path(posts.id) %></td>
              <td><i class="fas fa-tag"></i> <%= posts.tags.map(&:name).join(', ') %></td>
              <td>
                <% if @post.favorited?(current_user) %>
              <p>
                <%= link_to user_post_favorites_path(posts.id), method: :delete do %>
                  <i class="fas fa-thumbs-up"></i><%= posts.favorites.count %> Nice!
                <% end %>
              </p>
                <% else %>
              <p>
                <%= link_to user_post_favorites_path(posts.id), method: :post do %>
                  <i class="far fa-thumbs-up"></i><%= posts.favorites.count %> Nice!
                <% end %>
              </p>
                <% end %>
            </td>
              <td><i class="fas fa-comments"></i> <%= link_to "#{@post.post_comments.count}", user_post_path(posts) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>