<div class='container px-5 px-md-0'>
  <div class='row'>
    <div class='col-md-4'>
      <h1 style= "font-family: fantasy">My page</h1><br>
      <div class='h5'>
        <% if flash[:notice] %>
          <div class="alert alert-success" role="alert">
            <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p>
          </div>
        <% end %>
        <p><%= image_tag current_user.get_image, class: "rounded-circle", size:"200x200" %></p>
        <p>User Name：<%= current_user.name %></p>
        <p>Message：<%= current_user.introduction %></p>
      </div>
      <% if @user.name != "guestuser" %>
      <div>
        <i class="fas fa-pencil-alt"></i><%=link_to"User Edit", edit_user_user_path(current_user) %><br>
        <i class="fas fa-thumbs-up"></i><%=link_to"Nice! List", favorites_user_post_path(current_user) %>
      </div>
      <% end %>

      <br><h4 style= "font-family: fantasy">New Post</h4>
      <%= render 'layouts/error_messages', model: @post %>
      <div class="form-group">
        <%= form_with model: @post, url: user_posts_path(@post), method: :post, local:true do |f| %>
        <label>Post</label><br>
        <%= f.text_area :body, class:"form-control" %><br>
        <label>Tag（,）で区切ると複数のタグを登録できます</label><br>
        <%= f.text_field :name, value: @tag_list, class:"form-control" %>
      </div>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
        <% end %>
    </div>

    <div class='col-md-8'>
      <h4 style= "font-family: fantasy">My Calendar</h4>
      <mark>一日一回運動後に投稿した日はアイコンが表示されます！</mark>
      <%= month_calendar  events: @posts do |date,posts| %>
        <%= date.day %>
        <% posts.each do |post| %>
          <% if post.body.present? %>
            <div>
              <i class="fas fa-hand-peace" style="color: orange;"></i>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>