<div class='container px-5 px-md-0'>
  <div class='row'>
    <div class='col-md-4'>
      <h1 style= "font-family: fantasy">User Details</h1>
      <div>
        <p><%= image_tag @user.get_image, size:"200x200" %></p>
        <p class='h4'>Name：<%= @user.name %></p>
        <p><%= @user.introduction %></p>
        <%= link_to "ユーザーを削除する", admin_user_path(@user.id), method: :delete, "data-confirm" => "本当にこのユーザーを削除しますか？" %>
      </div>
    </div>

    <div class='col-md-8'>
      <h1 style= "font-family: fantasy">User Posts</h1>
      <table class='table table-inverse'>
        <tbody>
          <% @posts.each do |posts| %>
          <tr>
            <td><%= link_to posts.body, admin_post_path(posts.id) %></td>
            <td><i class="fas fa-comments"></i> <%= link_to "#{@post.post_comments.count}", admin_post_path(posts) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


